@import "tailwindcss";

.active-link {
  background-color: #2563eb; /* Tailwind blue-600 */
  padding: 0.5rem;
  border-radius: 0.375rem;
  font-weight: bold;
  color: white;
}

/* src/index.css */
.hide-scrollbar::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
